:root {
	--button: #00438c;
  --buttonHover: #086ede;
  --checkedRegistred: rgb(95, 95, 95);
  --checkedProgress: #e6e600;
  --textLabel: rgba(0, 0, 0, 0.54);
}

body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: .875rem;
}

button {
  font-weight: bold;
  box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);
  cursor: pointer;
}

button:focus {
  outline: none;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  background: white;
  padding: 2rem;
}

.main::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: inherit;
}

.main h2 { 
  margin: 1rem auto 2rem;
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  text-decoration: underline;
  text-transform: lowercase;
}



/* Modais */
.modal-header button {
  box-shadow: none;
}

.modal-header .close {
  font-size: 1.7rem;
  display: flex;
  align-self: center;
}

.modal-body h5 {
  font-weight: normal;
  line-height: 2;
}

.modal-body h5 a {
  color: black;
}

.modal-body h5 a:hover {
  text-decoration: none;
}


/* Estado de carregamento */
.loading {
  display: flex;
  flex-direction: column;
  height: 100%;

  justify-content: center;
  align-items: center;

  font-weight: bold;
}


/* Edit task e user */
.information {
  margin: 3rem 4rem 2rem;
}

.information h5 {
  margin-bottom: .8rem;
}

.information h5 span {
  font-size: 1.4rem;
  font-weight: bold;
}