.main.dashboard {
	padding: 2rem 5rem;

	.cards {
		display: flex;
		
		.card {
			width: 50%;
			padding: 2rem 2.5rem;
			margin: 1.5rem 2rem;
		}

		h3 {
			margin: auto 0 0;
			text-align: end;
			font-size: 5.5rem;
			font-weight: bold;
			line-height: 1;
		}

		h5 {
			margin-bottom: 2.65rem;
			font-size: 1.75rem;
		}
	}

	.cards.buttons {
		.card {
			padding: 0;
		}

		button {
			height: 100%;
			padding: 2rem 2.5rem;
			background-color: transparent;
			border: none;
			color: white;

			h5 {
				margin: auto;
				color: black;

				a {
					color: black;
				}

				a:hover {
					color: black;
					text-decoration: none;
				}
			}
		}
	}
}