form {
  margin: 1rem;

	div.MuiFormControl-root {
		display: flex;
    width: 100%;
    margin: .5rem;
	}

	.MuiFormLabel-root {
		font-size: 1.5rem;
	}

	.MuiFormLabel-root.Mui-focused {
		color: rgba(0, 0, 0, 0.54);
	}

	.MuiInputBase-input {
    padding: .5rem;
		margin-top: .5rem;
		font-size: 1.1rem;
	}

	.radio { 
		.label.MuiFormLabel-root { // Tituto do radio
			margin-top: 1rem;
    	font-size: 1rem;
		}

		.MuiFormGroup-root {
			padding-left: .1rem;
		}

		.MuiFormControlLabel-root {
			margin-right: 2rem;
		}

		span.MuiFormControlLabel-label { // Label de cada opção
			color: rgba(0, 0, 0, 0.54);
			font-size: 1.03rem;
		}

		.MuiIconButton-root {
			padding: .36rem .5rem .5rem;
		}

		.registered .MuiRadio-colorSecondary.Mui-checked {
			color: gray;
		}

		.inProgress .MuiRadio-colorSecondary.Mui-checked {
			color: #e6e600;
		}

		.completed .MuiRadio-colorSecondary.Mui-checked {
			color: green;
		}
	}
	
	span.MuiIconButton-label{
		justify-content: flex-start;
	}
	
	.MuiListItemSecondaryAction-root {
		left: 2.5rem;
	}
		
	// Texto do checked
	.MuiFormControl-root  .MuiListItemSecondaryAction-root .MuiInputLabel-formControl {
		top: 0;
		left: 0;
		position: absolute;
		transform: translate(0, -40%) scale(1);
		margin: 0;
	}

	.MuiButton-contained {
		width: 100%;
		height: auto;
		margin-top: 2rem;
		padding: .5rem;
		border-radius: .5rem;
		background-color: var(--button);
	}
	
	.MuiButton-contained:hover {
		background-color: var(--buttonHover);
	}
}


// Mensagem de erro
.error {
  width: 35%;
  height: auto;
  justify-content: center;
  margin: 3rem auto;
  margin-bottom: -2rem;
  padding: .5rem 2rem;  
}

.MuiAlert-icon {
  font-size: 2.4rem;
}

.MuiAlert-message {
  font-size: 1.4rem;
  align-self: center;
}