// Botão de adicionar nova tarefa
.MuiButtonBase-root.MuiButton-root.MuiButton-text.newTask {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;

  background: transparent;
  box-shadow: none;

  color: green;
  font-size: 1.2rem;
  text-transform: none;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.newTask:focus {
	outline: 5px auto rgba(6, 130, 6, 0.713);
}

.newTask .MuiSvgIcon-root {
  width: 1.9rem;
  height: 1.9rem;
  margin-right: .5rem;
}


// Modal do usuario
.modal-header {
  .modal-title {
    margin-right: 5rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: rgba(16, 17, 21, 0.768);
  }
  
  button.close {
    display: flex;
    align-self: center;

    font-size: 1.9rem;
  }
}

.modal-body {
  h5 {
    font-size: 1.45rem;
  }
}


/* Botões das atividades */
.MuiList-root.tasks {
  list-style-type: none;
  padding-inline-start: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;

  a {
    font-size: 0;
    color: var(--textLabel);
  }
}

.MuiButtonBase-root.MuiIconButton-root.editar {
  margin-right: 1rem;
}